.archive-estate {
}

main.archive-estate {
    padding: 120px 0 0;
    @include media("<=desktop") {
        padding: 100px 0 0;
    }
}

.term-rent {
    .price-sale {
        display: none;
    }
}

.term-sale {
    .price-rent {
        display: none;
    }
}
