.article-section {
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 20px;
        @include media("<=desktop") {
            flex-wrap: wrap;
        }
    }
    &__details {
        @extend %listreset;
    }
    &__button {
        border-radius: 26px;
        box-shadow: 3px 0px 16px 0px rgba(76,79,97,0.2);
        background-color: $pure_white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
        margin: 0 20px 0 0;
        @include media("<=desktop") {
            width: auto;
            margin: 0 0 20px;
        }
        .info {
            padding: 0 40px;
            font-weight: 500;
            font-size: 20px;
            @include media("<=desktop") {
                padding: 0 20px 0 10px;
            }
        }
        .tooltip {
            position: relative;
            padding: 0 10px;
            &:hover {
                .text {
                    opacity: 1;
                    @extend %transition;
                }
            }
            .text {
                background-color: $pure_white;
                box-shadow: 3px 0px 16px 0px rgba(76,79,97,0.2);
                width: 250px;
                height: auto;
                bottom: 100%;
                left: 100%;
                position: absolute;
                border-radius: 20px;
                font-size: 14px;
                padding: 10px;
                opacity: 0;
                @extend %transition;
            }
            .icon {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: $light;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1em;
                font-style: normal;
                color: $pure_white;
                font-weight: 400;
                cursor: pointer;
            }
        }
        .btn {
            border-radius: 26px;
            background-color: $pure_white;
            border: 3px solid $secondary;
            font-weight: 700;
            color: $secondary;
            text-transform: uppercase;
            &:hover {
                color: $black;
            }
        }
        &_rent {
            .btn {

            }
        }
        &_sale {
            .btn {
                border: 3px solid $attention;
                color: $attention;
                &:hover {
                    color: $black;
                }
            }
        }
    }
    &__gallery {
        &.gallery {
            .row {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 275px 275px;
                grid-gap: 20px;
                @include media("<=desktop") {
                    grid-template-columns: 1fr 1fr;
                }
            }
            .col {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                border-radius: 24px;
                overflow: hidden;
                &:first-child {
                    grid-column: 1 / 3;
                    grid-row: 1 / 3;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    &__description {
        p {
            @include media("<=desktop") {
                font-size: 14px;
            }
        }
    }
}
