.resize-active {
    * {
        transition: none !important;
    }
}

html {
    height: 100%;
    &.popup-open {
        overflow: hidden;
    }
}

body {
    display: flex;
    flex-direction: column;
    &.nav-active {
        .header {
            background-color: $white;
            @extend %transition;
            &__menu {
                opacity: 1;
                visibility: visible;
                z-index: 996;
                display: flex;
                @extend %transition;
            }
        }
    }
}

#wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

a {
    @include animate(color);
}

.container {
    padding: 0 95px;
    @include media("<=widescreen-lg") {
        padding: 0 45px;
    }
    @include media("<=desktop") {
        padding: 0 15px;
    }
    &_small {
        padding: 0 275px;
        @include media("<=widescreen-lg") {
            padding: 0 45px;
        }
        @include media("<=desktop") {
            padding: 0 15px;
        }
    }
}

main {
    flex-grow: 1;
    padding: 80px 0 0;
}

main {
    ul:not([class]):not([id]) {
        @extend %listreset;

        margin: 0 0 16px;

        li {
            position: relative;
            padding: 0 0 0 12px;

            /*&:before {
                content: "";
                position: absolute;
                top: 8px;
                left: 0;
                width: 5px;
                height: 5px;
                background: $black;
                border-radius: 50%;
            }*/
        }
    }
}

.search__posts {
    @extend %listreset;

    padding: 24px 0;

    li {
        margin: 0 0 24px;
    }

    a {
        text-decoration: none;
    }
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.ellip {
    display: block;
    height: 100%
}

.ellip-line {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: bottom
}

.ellip,.ellip-line {
    position: relative;
    overflow: hidden;
    max-width: 100%
}

.grecaptcha-badge {
    z-index: 100;
}

.swiper-button-prev,
.swiper-button-next {
    right: auto;
    left: 10px;
    border-radius: 50%;
    background-color: $primary;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: $decorative2;
        @extend %transition;
    }
    @include media("<=desktop") {
        display: none;
    }
    &:after {
        font-size: 24px;
        color: $pure_white;

    }
}

.swiper-pagination {
    &-bullet {
        &-active {
            background-color: $primary;
        }
    }
}

.codedropz-upload-container {
    @include media("<=desktop") {
        padding: 10px 10px 25px !important;
        font-size: 16px;
    }
}

.wpcf7 form .wpcf7-response-output {
    margin: 10px !important;
    position: relative;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 1em;
    padding: 10px !important;
    border-radius: 10px;
}


