.resize-active {
    * {
        transition: none !important;
    }
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    &.nav-active {
        .navbar__nav {
            opacity: 1;
            visibility: visible;
        }
    }
}

#wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

a {
    @include animate(color);
}

.container {
    padding: 0 15px;
    @include media(">=desktop") {
        padding: 0 45px;
    }
    @include media(">=widescreen-lg") {
        padding: 0 95px;
    }
    &_small {
        padding: 0 15px;
        @include media(">=desktop") {
            padding: 0 45px;
        }
        @include media(">=widescreen-lg") {
            padding: 0 275px;
        }
    }
}

main {
    flex-grow: 1;
    padding: 45px 0 30px;
}

main {
    ul:not([class]):not([id]) {
        @extend %listreset;

        margin: 0 0 16px;

        li {
            position: relative;
            padding: 0 0 0 12px;

            /*&:before {
                content: "";
                position: absolute;
                top: 8px;
                left: 0;
                width: 5px;
                height: 5px;
                background: $black;
                border-radius: 50%;
            }*/
        }
    }
}

.search__posts {
    @extend %listreset;

    padding: 24px 0;

    li {
        margin: 0 0 24px;
    }

    a {
        text-decoration: none;
    }
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.ellip {
    display: block;
    height: 100%
}

.ellip-line {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: bottom
}

.ellip,.ellip-line {
    position: relative;
    overflow: hidden;
    max-width: 100%
}

.grecaptcha-badge {
    z-index: 100;
}





