.footer {
    flex-shrink: 0;
    background-color: $dark;
    color: $white;
    ul {
        @extend %listreset;
    }
    a {
        color: $white;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        @extend %transition;
        @include media("<=widescreen") {
            font-size: 13px;
        }
        &:hover {
            opacity: 0.7;
        }
    }
    hr {
        border: none;
        height: 1px;
        background: $decorative;
    }
    .container {
        &:first-child {
            .footer {
                &__wrapper {

                }
            }
        }
        &:last-child {
            .footer {
                &__wrapper {

                }
            }
        }
    }

    .social {
        margin-top: 0;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 30px 0;
        @include media("<=widescreen") {
            justify-content: space-between;
            align-items: flex-end;
        }
        @include media("<=desktop") {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px 0;
        }
    }
    &__logo {
        display: block;
        width: 146px;
        max-height: 50px;
        @include media("<=widescreen") {
            width: 115px;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__сopyright {
        width: 100%;
        text-align: center;
        color: $white;
        line-height: 1em;
        font-size: 14px;
        @include media("<=widescreen") {
            width: auto;
            order: 0;
        }
        @include media("<=desktop") {
            order: 1;
        }
        .сopyright {
            margin: 0;
            @include media("<=desktop") {
                font-size: 14px;
                font-size: 14px;
            }
        }
    }
    &__navbar {
        padding: 0 20px;
        @include media("<=widescreen") {
            padding: 20px 0 0;
        }
    }
    &__social {
        @include media("<=widescreen") {
            display: none;
        }
        &_mobile {
            display: none;
            margin: 0 0 15px !important;
            @include media("<=widescreen") {
                display: flex;
                margin: 0 !important;
                order: 1;
            }
            @include media("<=desktop") {
                margin: 0 0 15px !important;
                order: 0;
            }
        }
    }
}
