.header {
    padding: 24px 0;
    flex-shrink: 0;
    color: $black;
    background: $pure_white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom: 1px solid $border;
    &__wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__lang {
        padding: 0 0 0 40px;
        @include media("<=widescreen") {
            padding: 0;
        }
        .wpml-ls-legacy-dropdown {
            width: 30px;
            background: transparent !important;
            @include media("<=desktop") {
                width: auto;
            }
            &:hover {
                background: transparent !important;
            }
            a {
                border: none;
                padding: 0 !important;
                background-color: transparent;
                &.wpml-ls-item-toggle {
                    &:after {
                        display: none;
                    }
                }
                @extend %transition;
                &:hover {
                    opacity: 0.7;
                    background-color: transparent;
                }
            }
            .wpml-ls-sub-menu {
                padding-top: 5px;
                border: none;
                @include media("<=desktop") {
                    position: static;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    visibility: visible;
                }
            }
            .wpml-ls-flag {
                width: 30px;
                height: 20px;
                border-radius: 5px;
                object-fit: cover;
            }
            .wpml-ls-item {
                padding: 5px 0;
                background: transparent !important;
                &:hover {
                    background: transparent !important;
                }
                @include media("<=desktop") {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                }
                .wpml-ls-item-toggle {
                    @include media("<=desktop") {
                        opacity: 0.3;
                        pointer-events: none;
                    }
                }
                a {
                    @include media("<=desktop") {
                        padding: 0 10px !important;
                    }
                }
            }
            .wpml-ls-current-language {
                &:hover {
                    &>a {
                        background: transparent !important;
                    }
                }
            }
        }
    }
    &__navbar {
        padding: 0 20px;
        flex-grow: 1;
        width: 100%;
        @include media("<=widescreen-lg") {
            padding: 0 10px;
        }
        @include media("<=desktop") {
            flex-grow: 0;
        }
    }
    &__phones {
        padding: 0 20px;
        @include media("<=widescreen-lg") {
            padding: 0 10px;
        }
        @include media("<=desktop") {
            padding: 0;
            margin: 0 0 20px;
        }
    }
    &__logo {
        display: block;
        width: 110px;
        max-height: 50px;
        img {
            width: 100%;
            height: 100%;
        }
        @extend %transition;
        &:hover {
            opacity: 0.7;
        }
    }
    &__menu {
        width: calc(100% - 110px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 40px;
        @include media("<=widescreen") {
            padding: 0;
        }
        &:before {
            content: "";
            display: none;
            @include media("<=desktop") {
                display: block;
            }
        }
        @include media("<=widescreen-lg") {
            justify-content: flex-end;
        }
        @include media("<=desktop") {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: $white;
            padding: 15px;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            display: none;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: calc(100vh - 74px);
            bottom: 0;
        }
    }
    &__additional {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 0 0 5px;
        @include media("<=widescreen-lg") {
            padding: 0 0 0 20px;
        }
        @include media("<=desktop") {
            flex-direction: column;
            padding: 0;
        }
    }
}
