.single-built-object {
    .hero {
        height: calc(100vh - 45px);
        width: 100vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        color: $pure_white;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $pure_white;
        }
        &:before {
            mix-blend-mode: multiply;
            background: linear-gradient(rgba(23, 45, 59, 0.7), rgba(23, 45, 59, 0.7));
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            content: "";
        }
        .container  {
            position: relative;
            z-index: 2;
        }
        &__item {

        }
    }
}
