{
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": "airbnb",
  "rules": {
    "no-console": "error"
  },
  "env": {
    "node": true,
    "jquery": true,
    "amd": true,
    "browser": true,
    "es6": true
  }
}
