.two-columns {
    padding: 90px 0;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include media("<=desktop") {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
    &__col {
        width: 50%;
        @include media("<=desktop") {
            width: 100%;
            padding: 0;
        }
    }
    &__content {
        padding-right: 20px;
        @include media("<=desktop") {
            padding: 0;
        }
    }
    &__images {
        padding-left: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
        @include media("<=desktop") {
            padding: 0;
        }
    }
    &__img {
        &:nth-child(1) {
            border-radius: 24px 0 0 0;
        }
        &:nth-child(2) {
            border-radius: 0 24px 0 0;
        }
        &:nth-child(3) {
            border-radius: 0 0 0 24px;
        }
        &:nth-child(4) {
            border-radius: 0 0 24px 0;
        }
    }
}
