.quote {
    padding: 50px 0;

    h2 {
    }

    &__slider {
        padding: 0 0 46px;
    }

    .swiper-slide {
        @include media(">=tablet") {
            padding: 0 32px;
        }

        @include media(">=desktop") {
            padding: 0 44px;
        }

        @include media(">=widescreen") {
            padding: 0 56px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        left: 0;
        right: auto;
        display: none;

        @include media(">=tablet") {
            display: block;
        }

        @include media(">=desktop") {
            left: 10px;
        }

        &:after {
            font-size: 22px;
            color: $primary;

            @include media(">=tablet") {
                font-size: 32px;
            }
        }
    }

    .swiper-button-next {
        right: 0;
        left: auto;

        @include media(">=desktop") {
            right: 10px;
        }
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background: $primary;
        }
    }
}

blockquote {
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}
