@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria/Geometria-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria/Geometria-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria/Geometria.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria/Geometria-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria/Geometria-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: block;
}
