.scrollbar {
    padding: 50px 0;

    h3 {
    }

    &__wrap {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }

        &-img {
            display: flex;

            img {
                width: 500px;
                margin-right: 16px;
            }
        }

        &.scrollbar-y {
            height: 300px;
        }

        &-text {
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.simplebar-scrollbar {
    &.simplebar-hover {
        &:before {
            opacity: 1;
        }
    }

    &::before {
        background-color: $primary;
        opacity: 0.5;
    }
}
