.hero {
    position: relative;
    background-color: $primary;
    color: $pure_white;
    overflow: hidden;
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $pure_white;
    }
    .swiper-slide {
        position: relative;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        padding: 80px 0 240px;
        @include media("<=desktop") {
            padding: 50px 0 200px;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        left: 0;
        right: auto;

        @include media(">=desktop") {
            left: 10px;
        }

        &:after {
            font-size: 22px;
            color: $primary;

            @include media(">=tablet") {
                font-size: 32px;
            }
        }
    }
    .swiper-button-next {
        right: 0;
        left: auto;
        @include media(">=desktop") {
            right: 10px;
        }
    }
    .swiper-pagination {
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background: $primary;
        }
    }
    &__text {
        width: 100%;
        p {
            @include media("<=desktop") {
                font-size: 14px;
            }
        }
    }
    &__title {
        @include media("<=desktop") {
            font-size: 24px;
        }
    }
    &__content {
        max-width: 600px;
        position: relative;
        z-index: 2;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__image {
        position: absolute;
        right: -7%;
        bottom: -30%;
        width: 53%;
        z-index: 1;
        height: auto;
        @include media("<=widescreen-lg") {
            width: 63%;
        }
        @include media("<=widescreen") {
            width: 73%;
        }
        @include media("<=tablet") {
            width: 80%;
            bottom: -10%;
        }
    }
    &__text {
        strong,
        a {
            color: $highlighting;
        }
    }
    &__subtitle {
        color: $highlighting;
        font-weight: 400;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon {
            width: 56px;
            height: 56px;
            background-color: $decorative2;
            border-radius: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 0;
            font-size: 0;
            @include media("<=desktop") {
                width: 49px;
                height: 49px;
                border-radius: 10px;
            }
            img {
                width: 34px;
                height: 34px;
                line-height: 0;
                font-size: 0;
                @include media("<=desktop") {
                    width: 28px;
                    height: 28px;
                }
            }
        }
        .text {
            padding-left: 15px;
            display: inline-block;
            width: calc(100% - 56px);
            @include media("<=desktop") {
                font-size: 14px;
                width: calc(100% - 49px);
                padding-left: 5px;
            }
        }
    }
}
