.contact-form {
    text-align: center;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    &__close {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        z-index: 10;
        cursor: pointer;
        &:before,
        &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: $base-text-color;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    &__img {
        position: absolute;
        bottom: 25%;
        right: -25%;
        z-index: 0;
    }
    &__img-bottom {
        position: absolute;
        left: -30%;
        bottom: 0%;
        z-index: 0;
    }
    &__components {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        @include media(">=desktop") {
            width: calc(50% - 20px);
            margin: 0 20px 0 0;
        }
        p {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            width: 100%;
        }
        &_textarea,
        &_file {
            width: 100% !important;
            margin: 0 !important;
        }
        &_select {

        }
        &_100 {
            width: 100%;
        }
    }
    &__comment {
        p {
            font-size: 10px;
            text-align: left;
            margin: 0 0 20px;
        }
    }
    &__title {
        position: relative;
        z-index: 1;
    }
    &__load {
        margin: 0 0 12px 32px;
    }
    &__staple {
        font-size: 30px;
        margin: 0 0 12px 16px;
    }
    &__text {
        position: relative;
        max-width: 545px;
        text-align: center;
        margin: 32px auto;
        position: relative;
        z-index: 1;
    }
    &__btn {
        width: auto;
    }
    &__load {
        display: flex;
    }
    &__staple {
        display: flex;
    }
    &__form {
        position: relative;
        z-index: 1;
        margin-top: 30px;
        @include media("<=desktop") {
            margin-top: 0px;
        }
        form {
            & > p {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0;
            }
        }
    }
    &__file {
        position: relative;
        width: auto;
        display: block;
        p {
            margin: 0;
        }
        &>p {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }
        input {
            width: 100%;
            margin: 0;
            font-size: 0;
            height: 100%;
        }
        .icon {
            margin: 0 10px;
            display: inline-block;
        }
        .file {
            position: relative;
            z-index: 0;
        }
        .wpcf7-form-control-wrap {
            width: 100%;
            height: 100%;
        }
    }
    &__comment {
        width: 100%;
        display: block;
    }
    &_centered {
        .contact-form {
            &__wrapper {
                position: relative;
                z-index: 2;
                top: -100px;
                margin: 0 30px;
                padding: 30px 60px;
                border-radius: 22px;
                background-color: $pure_white;
                box-shadow: 0px 4px 50px 0px rgba(0,0,0,0.2);
                @include media("<=widescreen-lg") {
                    margin: 0;
                }
                @include media("<=desktop") {
                    padding: 30px;
                    top: -50px;
                }
            }
            &__title {
                text-align: center;
                @include media("<=desktop") {
                    font-size: 28px;
                    text-align: left;
                }
            }
            &__subtitle {
                text-align: center;
                font-size: 18px;
                font-weight: 400;
                @include media("<=desktop") {
                    font-size: 16px;
                    text-align: left;
                }
            }
            &__form {
                text-align: center;
            }
        }
    }
}
