// Colors
$pure_white: #fff;
$pure_black: #000;
$white: #ebebeb;
$black: #20222d;
$primary: #20222d;
$decorative: #383b47;
$decorative2: #2F3341;
$dark: #1a1b24;
$light: #6e7285;
$secondary: #4bb180;
$attention: #f1254a;
$tag: #0D3C5B;
$highlighting_link: #ff8562;
$third: #7dc3fe;
$tags: #0f75ff;
$highlighting: #d8dae8;
$border: #dadce5;
$bg: #f5f5f5;
$viber: #7360f2;
$telegram: #0088cc;
$transparent-gradient: linear-gradient(
        to bottom,
        rgba($pure_black, 0.7),
        rgba($black, 0.7)
);

// Font Family
$base-font-sans-serif: "Geometria", Arial, sans-serif;
$base-font-serif: "Times New Roman", "Times", "Baskerville", "Georgia", serif;
$headings-font-family: "Geometria", sans-serif;

// This is the default html and body font-size for the base rem value.
$rem-base: 18px;

// Body
$base-text-color: $black;
$base-background-color: $white;
$font-size-base: 18px;
$line-height-base: 1.55;
$base-font-family: $base-font-sans-serif;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $primary;

// Buttons
$btn-color: $white !default;
$btn-background: $primary;
$btn-padding: 14px 30px;
$btn-font-size: 14px;

// Forms
$form-element-padding: 14px 20px !default;
$form-element-border-color: $light !default;
$form-element-focus-border-color: $decorative;
$placeholder-color: $light !default;

// Headers
$h1-font-size: 30px;
$h2-font-size: 30px;
$h3-font-size: 20px;
$h4-font-size: 24px;
$h5-font-size: 16px;
$h6-font-size: 14px;

$headings-color: $primary;

$animation-speed: 0.15s;
