.hero-dynamic {
    background-color: $primary;
    color: $white;
    position: relative;
    height: 100vh;
    margin: -80px 0 0;
    &__wrapper {
        position: relative;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container {
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100% !important;
            height: 100% !important;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: 0 !important;
            z-index: 1;
            background: $transparent-gradient;
        }
    }
    video {
        display: block;
        object-fit: cover;
        object-position: center;
        position: absolute;
        z-index: 0;
        width: 100% !important;
        height: 100% !important;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0 !important;
    }
    p,
    &__content {
        max-width: 852px;
        margin: 0 0 50px;
        &:last-child {
            margin: 0;
        }
        &-line {
            overflow: hidden;
        }
    }
    &__title {
        margin: 0 0 30px;
        color: $white;
    }
    &__description {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-weight: 300;
    }
    &__buttons {
    }
    h2,
    &__subtitle {
    }
    &__btn {
        margin: 0 0 0 20px;
    }
    &__button {
        &:after {
            display: none !important;
        }
    }
    &__logo {
        &:after {
            display: none !important;
        }
    }
    &__footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 20px 0 0;
    }
    &__scroll {
    }
}
