button {
    background: transparent;
    border: none;
    outline: none;
}

.btn,
.cd-upload-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    padding: $btn-padding;
    border-radius: 12px;
    color: $btn-color;
    background: $btn-background;
    border: 1px solid $btn-background;
    transition:all 0.3s ease;
    overflow: hidden;
    font-size: 14px;
    &:hover {
        transition:all 0.3s ease;
        color: $btn-background;
        background: $btn-color;
    }
    &_big {
        border-radius: 16px;
        padding: 22px 46px;
        font-size: 16px;
        text-transform: uppercase;
    }
    &_light {
        color: $btn-background;
        background: $btn-color;
        border: 1px solid $btn-color;
        &:hover {
            color: $btn-color;
            background: transparent;
        }
    }
    &_dark {
        color: $btn-background;
        background: $btn-color;
        border: 1px solid $btn-background;
        &:hover {
            color: $btn-color;
            background: $btn-background;
        }
    }
    &_disabled {
        background: $light;
        cursor: auto;
        &:hover {
            color: $btn-color;
            background: $light;
        }
    }
}
