.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    word-wrap: break-word;
    background-color: transparent;
    border: none;
    padding: 0;
    text-decoration: none;
    &:hover {
        img {
            scale: 1.2;
            @extend %transition;
        }
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        scale: 1;
        @extend %transition;
    }
    &__body {
        padding: 20px 0 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__title {
        font-size: 18px;
    }
    &__img {
        width: 100%;
        object-fit: cover;
        position: relative;
        padding-top: 75%;
        overflow: hidden;
        border-radius: 24px;
        &--rounded {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 16px;
        }
        .tag {
            position: absolute;
            background-color: $tag;
            color: $pure_white;
            font-size: 12px;
            line-height: 1.3em;
            font-weight: 400;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 90px;
            height: auto;
            padding: 10px;
            border-radius: 50px;
            top: 10px;
            right: 10px;
            &:hover {
                .tag-info {
                    opacity: 1;
                    z-index: 1;
                    @extend %transition;
                }
            }
            .icon {
                font-size: 16px;
                display: inline-block;
                padding-right: 10px;
            }
            .tag-info {
                position: absolute;
                background-color: $pure_white;
                color: $black;
                font-size: 12px;
                line-height: 1.3em;
                font-weight: 400;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 200px;
                height: auto;
                padding: 10px;
                border-radius: 10px;
                top: 0px;
                right: 100px;
                opacity: 0;
                z-index: -1;
                @extend %transition;
            }
        }
    }
    &__prices {
        @extend %listreset;
    }
    &__price {
        font-size: 12px;
        line-height: 1.2em;
        .title {
            font-weight: 500;
        }
    }
    &__address {
        font-size: 14px;
        font-weight: 300;
        flex-grow: 1;
    }
    &__btn {
        margin-top: 15px;
        @include media("<=desktop") {
            margin-top: 10px;
        }
    }
}


