.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba($black, 0.5);
    padding: 0 0 16px;
    img {
        object-fit: cover;
        height: 200px;
        width: 100%;
    }
    &__body {
        padding: 16px;
    }
    &__title {
        font-size: 18px;
    }
    &__img {
        width: 100%;
        object-fit: cover;
        position: relative;
        &--rounded {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 16px;
        }
    }
    &__category {
        position: absolute;
        padding: 5px 10px;
        background-color: $secondary;
        color: $white;
        top: 10px;
        left: 0;
        font-size: 12px;
    }
    &__address {
        font-size: 14px;
        font-weight: 300;
    }
    .btn {
        margin: auto 16px 0;
    }
}
