.didnt-find-banner {
    color: $pure_white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 65px 0;
    margin-top: 135px;
    @include media("<=desktop") {
        text-align: center;
        margin-top: 50px;
        padding: 45px 0 165px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: $pure_white;
    }
    &__btn {
        text-transform: uppercase;
    }
    &__title {
        @include media("<=desktop") {
            text-align: center;
        }
    }
    &__img {
        width: 56%;
        position: absolute;
        bottom: 0;
        left: -7%;
        z-index: 1;
        height: auto;
        @include media("<=widescreen-lg") {
            width: 70%;
            left: -17%;
        }
        @include media("<=widescreen") {
            width: 80%;
            left: -37%;
        }
        @include media("<=desktop") {
            left: 17%;
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include media("<=desktop") {
            justify-content: center;
        }
    }
    &__content {
        position: relative;
        z-index: 2;
        max-width: 530px;
    }
    &__popup {
        .populate_area_range-filter {
            width: 100%;
        }
        textarea,
        input,
        select {
            border-radius: unset;
        }
        input[type="number"] {
            padding: 0 6px;
            border: 1px $border solid;
            background: $bg;
        }
        .wpcf7-submit {
            width: 100%;
        }
        &-title {
            text-align: center;
        }
        &-text {
            text-align: center;
            margin: 0 0 20px;
            @include media("<=desktop") {
                font-size: 16px;
            }
        }
    }
}
