.estate-catalogue {
    &__title {
        width: calc(100% - 250px);
        margin: 0 0 25px 250px;
    }
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__filter {
        width: 250px;
        padding: 0 20px 0 0;
    }
    &__grid {
        width: calc(100% - 250px);
    }
}
