.estate-filter {
    &__title {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 10px;
    }
    &__filter {
        margin-bottom: 30px;
        label {
            font-size: 14px;
            margin-bottom: 8px;
            max-width: 100%;
            white-space: unset;
        }
        input[type="number"] {
            padding: 0 6px;
            border: 1px $border solid;
            background: $bg;
        }
        .handorgel {
            &__header {
                margin: 0;
                padding: 10px 0;
                border-bottom: 1px solid $border;
                border-top: 1px solid $border;
                &__button {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 800;
                    padding: 0;
                    margin: 0;
                    &:before {
                        font-size: 12px;
                        color: $light;
                    }
                    &:hover {
                        background-color: transparent;
                        color: $black;
                    }
                }
            }
            &__content {
                &__inner {
                    padding: 10px 0;
                }
            }
        }
    }
    &__main-title {
        display: flex;
        align-items: center;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 10px;
        .icon {
            display: block;
            width: 17px;
            height: 17px;
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__found {
        font-size: 12px;
    }
    &__controls {
        margin: 0 0 15px;
    }
    &__reset {
        font-size: 14px;
        border-bottom: 1px dashed $black;
        cursor: pointer;
    }
}
