.filter {
    padding: 50px 0;

    &__list {
        @extend %listreset;

        display: flex;
        margin: 0 0 32px;
        overflow-x: auto;
        white-space: nowrap;

        @include media(">=desktop") {
            justify-content: center;
        }

        li {
            padding: 0 8px;

            @include media(">=desktop") {
                padding: 0 16px;
            }

            &.active {
                a {
                    background: darken($primary, 15%);
                }
            }
        }

        a {
            display: block;
            text-decoration: none;
            background: $primary;
            color: $white;
            padding: 10px 24px;

            &:hover {
                background: darken($primary, 15%);
            }
        }
    }

    &__result {
        .row {
            @include media(">=576px") {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -8px;
            }

            @include media(">=desktop") {
                margin: 0 -16px;
            }
        }

        .col {
            padding: 0 0 16px;

            @include media(">=576px") {
                display: flex;
                width: 50%;
                padding: 0 8px 16px;
            }

            @include media(">=tablet") {
                width: 33.332%;
            }

            @include media(">=desktop") {
                padding: 0 16px 32px;
            }
        }
    }

    &__btn {
        text-align: center;
    }
}
