.gallery {
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 300px 300px;
        grid-gap: 10px;
        @include media("<=desktop") {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100px 100px auto auto;
        }
    }
    .col {
        border-radius: 24px;
        overflow: hidden;
        a {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &:first-child {
            grid-column: 1/3;
            grid-row: 1/3;
        }
    }
}

.gzoomIn {
    opacity: 0 !important;
}
