.meta-filter {
    margin-bottom: 20px;
    &__box {
        position: relative;
        height: 4px;
        margin-bottom: 20px;
    }
    &__numbers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        input[type="number"] {
            width: 35%;
            font-size: 14px;
        }
    }
    .price-outer {
        position: absolute;
        top: 0;
        height: 100%;
        background-color: $light; /* Gray color */
        z-index: 1;
        &_start {
            left: 0;
            width: 0%; /* Initial width percentage */
        }
        &_end {
            right: 0;
            width: 0%; /* Initial width percentage */
        }
    }
    .range_bg {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: $third; /* Red color for the range background */
        z-index: 1; /* Ensure range background is below the range input */
    }
}
