.nav-opener {
    top: 50%;
    right: 15px;
    height: 37px;
    transform: translateY(-50%);
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    z-index: 99;
    position: static;
    width: 0;
    opacity: 0;
    @extend %transition;
    @include media("<=desktop") {
        width: 42px;
        opacity: 1;
        position: absolute;
    }

    &:before,
    &:after,
    span {
        background: $black;
        position: absolute;
        top: 19px;
        left: 20%;
        right: 20%;
        height: 3px;
        margin-top: -2px;
        transition: all 0.2s linear;
        width: 61%;
    }

    &:before,
    &:after {
        content: "";
        top: 10px;
    }

    &:after {
        top: 28px;
        width: 45%;
        right: 20%;
        left: unset;
    }

    .nav-active & {
        &:before,
        &:after {
            transform: rotate(45deg);
            top: 18px;
            left: 15%;
            right: 15%;
            width: 61%;
        }

        span {
            opacity: 0;
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}
