.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    &>ul,
    &__nav {
        width: 100%;
        justify-content: space-between;
        display: flex;
        @extend %listreset;
        @include animate(opacity visibility);
        @include media("<=desktop") {
            flex-direction: column;
            text-align: center;
        }
        > li {
            position: relative;
            padding: 0 10px;
            @include media("<=widescreen-lg") {
                padding: 0 0 10px;
            }
            &:hover {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        a {
            text-decoration: none;
            font-weight: 500;
            font-size: 14px;
            @extend %transition;
            color: $black;
            @include media("<=widescreen") {
                font-size: 12px;
            }
            @include media("<=desktop") {
                font-size: 24px;
                font-weight: 300;
                width: auto;
                margin: 0 auto;
                display: block;
                line-height: 1em;
                padding: 0 5px 5px;
            }
            &:hover {
                color: $light;
                opacity: 0.7;
            }
        }
        .menu-item {
            padding: 0 20px;
            @include media("<=widescreen-lg") {
                padding: 0 7px;
            }
            @include media("<=desktop") {
                padding: 0;
                width: auto;
                margin: 10px auto 5px;
                line-height: 1em;
            }
            &.current-menu-item {
                &>a {
                    border-bottom: 1px solid $decorative;
                }
            }
        }

        .sub-menu {
            @extend %listreset;
            @include animate(opacity visibility);
            display: block;
            opacity: 0;
            visibility: hidden;
            z-index: 99;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            font-size: 13px;
            line-height: 1.1;
            padding: 15px 10px 10px;
            background: $black;
            @include media("<=desktop") {
                padding: 0;
                background: transparent;
                opacity: 1;
                position: static;
                visibility: visible;
            }

            li {
                padding: 0 0 5px;
            }

            a {
                color: $white;
                @include media("<=desktop") {
                    color: $black;
                    margin: 10px 0 0;
                }
            }
            .menu-item {
                @include media("<=desktop") {
                    margin: 0;
                    padding: 0;
                }
                a {
                    @include media("<=desktop") {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
