.singe-advantages {
    margin: 50px 0;
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
    }
    &__item {

    }
    &__img {
        width: 80px;
        height: 80px;
        margin: 0 0 10px;
    }
    &__title {
        margin: 0 0 40px;
    }
}
