.social {
    @extend %listreset;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -8px;
    li {
        padding: 0 8px;
    }
    a {
        @include animate(background);
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $light;
        i {
            font-size: 24px;
            line-height: 1em;
        }
    }
    .icon {
        margin: 0;
    }
}
